.introduction-section {
    padding: 50px 30px;
}


/* CONTENT SECTION */

.introduction-section .content-section {
    font-family: 'Montserrat';
    font-weight: 500;
    max-width: 580px;
    width: 100%;
    font-size: 1.8rem;
    margin: 0 auto;
    text-align: start;
}

.introduction-section .content-section ul {
    margin: 0 auto;
    padding-left: 15px;
}

.introduction-section .content-section ul li {
    width: fit-content;
    max-width: 400px;
    margin: 0 auto;
}

/* FINISH CONTENT SECTION */

.introduction-section .content-section p {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.introduction-section.content-section ul {
    font-weight: 700;
    font-size: 1.8rem;
    max-width: 530px;
}

.introduction-section .content-section ul li {
    /* margin-bottom: 6px; */
    margin: 0 0 6px;
    width: 100%;
}

/* .introduction-section h1 {
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 3rem;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
}

.introduction-section h2 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: italic;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
} */

.introduction-section p {
    font-family: 'Montserrat';
    font-size: 1.8rem;
    text-align: justify;
    max-width: 580px;
    font-weight: 500;
    margin: 0 auto 20px;
}

@media (min-width: 744px) {

    /* .introduction-section h1 {
        font-size: 3.6rem;
    } */

    .introduction-section h2,
    .introduction-section p {
        font-size: 2rem;
    }

    .introduction-section .content-section p {
        font-size: 2rem;
    }


    .introduction-section .content-section ul li {
        font-size: 2rem;
    }

}

@media (min-width: 1280px) {

    /* .introduction-section h1 {
        font-size: 4.2rem;
        margin-bottom: 20px;
    }

    .introduction-section h2 {
        font-size: 2.2rem;
        margin-bottom: 20px;
    }

    .introduction-section p {
        font-size: 2.2rem;
        max-width: 930px;
    } */

    .introduction-section p {
        max-width: 930px;
        font-size: 2rem;
    }

    .introduction-section .content-section {
        font-size: 2rem;
    }

    .introduction-section .content-section ul li {
        font-size: 2rem;
    }

    .introduction-section .content-section {
        max-width: 930px;
    }
}