.testimony-introduction {
    padding: 50px 0;
}

.testimony-introduction .body {
    font-family: 'Montserrat';
    text-align: justify;
    font-size: 1.8rem;
    font-weight: 500;
    width: 320px;
    margin: 0 auto;
}


.testimony-introduction .body p {
    padding-bottom: 15px;
}

@media (min-width:744px) {

    .testimony-introduction .body {
        font-size: 2rem;
        width: 575px;
    }


}

@media (min-width: 1279px) {

    .testimony-introduction .body p {
        width: 930px;
        margin: 0 auto;
    }


    .testimony-introduction .body {
        width: fit-content;
        margin: 0 auto;
    }
}