:root {
  /* Add Colors */
  --dark-blue: #042047;
  --blue-king-darkness: #193962;
  --blue-king-lighter: #26599A;
  --france-blue: #3173C7;
  --france-blue-lighter: #3E88F3;
  --orange: #E08926;
  --gray-background: #F1F1F1;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Scroll settings */
  /* scroll-padding-top: 130px; */
  scroll-behavior: smooth;

  /* Configure dark theme */
  /* color-scheme: light dark; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

@media (min-width: 744px) {
  :root {
    scroll-padding-top: 20px;
  }
}