.contact-section .divider-section {
    width: 100%;
    height: 280px;
    background-image: linear-gradient(rgba(14, 14, 14, 0.5), rgba(14, 14, 14, 0.5)), url('/assets/images/surgeries/background-divider-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.contact-section .divider-section p {
    font-family: 'Open Sans';
    font-size: 1.8rem;
    text-align: center;
    padding: 0 30px;
    max-width: 540px;
    color: white;
}

.contact-section .divider-section p b {
    font-weight: 800;
}

.contact-section .contact-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0 40px;
    margin: 40px 0;
}

.contact-section .contact-button h2 {
    font-size: 3rem;
    font-family: 'Nunito';
    font-weight: 900;
    margin-bottom: 20px;
    color: #B38432;
}

.contact-section .contact-button button {
    width: 248px;
    height: 62px;
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 2.4rem;
    background-image:
        url('/assets/backgrounds/golden.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    border: none;
    box-shadow: 0 3px 3px 3px rgb(179, 179, 179);
    transition: all .2s ease;
}

.contact-section .contact-button button:hover {
    cursor: pointer;
    box-shadow: 0 3px 8px 3px rgb(129, 129, 129);
}

@media (min-width: 744px) {
    .contact-section .divider-section {
        background-image: linear-gradient(rgba(14, 14, 14, 0.5), rgba(14, 14, 14, 0.5)), url('/assets/images/surgeries/background-divider-2.png');
        height: 320px;
    }

    .contact-section .contact-button h2 {
        font-size: 3.2rem;
        margin-bottom: 25px;
    }
}

@media (min-width: 1280px) {
    .contact-section .divider-section {
        background-image: linear-gradient(rgba(14, 14, 14, 0.5), rgba(14, 14, 14, 0.5)), url('/assets/images/surgeries/background-divider-3.png');
        height: 475px;
    }

    .contact-section .contact-button h2 {
        font-size: 3.6rem;
        margin-bottom: 30px;
    }
}